<section class="vh-90">  
    <br><br><br>
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1"> 
            <div *ngIf="isLoading">  
                <app-loading-spinner ></app-loading-spinner>
            </div>  
            <div class="alert alert-danger" *ngIf="error"> 
                {{error}}
            </div>
          <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input  
              type="email"  
              id="email"  
              class="form-control form-control-lg"  
              placeholder="Email" 
              ngModel 
              name="email"
               required/>
              <label class="form-label" for="email" ></label>
    
              <input  
              type="password"  
              id="form1Example23"  
              class="form-control form-control-lg"  
              placeholder="Password"    
              ngModel 
              name="password"
                required  
                minlength="6" 
                />
              <label class="form-label" for="password"></label>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block" [disabled]="!authForm.valid">{{isLoginMode ? "Login": 'Sign Up'}}</button>   
            |
            <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onSwitchMode()">Switch to {{isLoginMode ? 'Sign Up': 'Login' }}  </button> 

            <!-- Submit button -->
          </form>
        </div>
      </div>
    </div>
  </section>