<script src="https://kit.fontawesome.com/976382ac44.js" crossorigin="anonymous"></script>
  
<body>
    <br><br><br>
    <br>


  <div class="google-function">
    <p>
      <span class="google-name">M</span>
      <span class="google-name">o</span>
      <span class="google-name">v</span>
      <span class="google-name">i</span>
      <span class="google-name">e</span>
      <span class="google-name">B</span> 
      <span class="google-name">u</span> 
      <span class="google-name">c</span> 
      <span class="google-name">k</span> 
      <span class="google-name">e</span> 
      <span class="google-name">t</span>
    </p>
    
    <form>
      <div>
        <i class="fas fa-search"> </i> 
          <input 
          type="text"
          id="gsearch"
          name="gsearch">
      </div>

      <div class="button-group">
        <button class="google-button" type="submit">Search Movies</button>
        <button class="google-button" type="submit">I'm Feeling Lucky</button>
      </div>
    </form>
  </div>
  


    
    
</body>